body {
	margin: 0;
	padding: 0;
    height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
    background-image: url("./Images/windowsxp.jpg");
    background-size: cover;
    background-position: top; 
}
main > section {
	position: absolute;
}
main > section > section:nth-of-type(1) > article {
	position: absolute;
	left: 0px;
	bottom: 0;
	width: 4px;
	height: 80px;
	transform-origin: 50% 100%;
    overflow: hidden;
}

main > section > section:nth-of-type(2) > article {
	position: absolute;
	left: 0px;
	bottom: 0;
	width: 4px;
	height: 80px;
	transform-origin: 50% 100%;
    overflow: hidden;
}

main > section > section:nth-of-type(3) > article {
	position: absolute;
	left: 25vw;
	bottom: 15vh;
	width: 4px;
	height: 80px;
	transform-origin: 50% 100%;
	overflow: hidden;
}

main > section > section:nth-of-type(4) > article {
	position: absolute;
	left: 25vw;
	bottom: 15vh;
	width: 4px;
	height: 80px;
	transform-origin: 50% 100%;
	overflow: hidden;
}

main > div {
	position: absolute;
	left: Calc(50vw - 4px);
    bottom: 0;
    background-color: red;
    width: 7.5px;
	height:40px;
	animation: pijltje 3s ease-out infinite;

}
main > section > section:nth-of-type(1) > article::before {
	content: '';
	position: absolute;
	left: 0;
    right: 0;
    top: 100%;
	height: 40px;
    background-color: #f5cf52;
	animation: explosion 3s ease-in-out infinite;
	animation-delay: 1s;
}

main > section > section:nth-of-type(2) > article::before {
	content: '';
	position: absolute;
	left: 0;
    right: 0;
    top: 100%;
	height: 40px;
    background-color: red;
	animation: explosion 3s ease-in-out infinite;
	animation-delay: 1s;
}

main > section > section:nth-of-type(3) > article::before {
	content: '';
	position: absolute;
	left: 0;
    right: 0;
    top: 100%;
	height: 40px;
    background-color: blue;
	animation: explosion 3s ease-in-out infinite;
	animation-delay: 3s;
}

main > section > section:nth-of-type(4) > article::before {
	content: '';
	position: absolute;
	left: 0;
    right: 0;
    top: 100%;
	height: 40px;
    background-color: green;
	animation: explosion 3s ease-in-out infinite;
	animation-delay: 3s;
}

@keyframes pijltje {
	0% {
		top:100%;
	}
	33% {
		top: 50%;
		opacity: 1;
	}
	33.01% {
		opacity: 0;
	}
	100% {
		top: 50%;
		opacity: 0;
	}

}

@keyframes explosion {
    0% {
        top: 100%
    }
    33%, 100% {
        top: -50%;
    }
}

article {
	transform: rotate(Calc(30deg*var(--index)))translateY(-15px);
}

article:nth-child(1) {
	--index: 0;
}

article:nth-child(2) {
	--index: 1;
}

article:nth-child(3) {
	--index: 2;
}

article:nth-child(4) {
	--index: 3;
}

article:nth-child(5) {
	--index: 4;
}

article:nth-child(6) {
	--index: 5;
}

article:nth-child(7) {
	--index: 6;
}

article:nth-child(8) {
	--index: 7;
}

article:nth-child(9) {
	--index: 8;
}

article:nth-child(10) {
	--index: 9;
}

article:nth-child(11) {
	--index: 10;
}

article:nth-child(12) {
	--index: 11;
}


main > section > section:nth-of-type(1) {
	left: 50%;
	top: 50%;
	transform: scale(1);
}

main > section > section:nth-of-type(2) {
	left: 10vw;
	top: 50vh;
	transform: rotate(15deg);
}

main > section > section:nth-of-type(3) {
	left: 10vw;
	top: 50vh;
	transform: skew(15deg, 15deg);
}

main > section > section:nth-of-type(4) {
	left: 10vw;
	top: 50vh;
}

