
/*  wat body styling */
body {
	margin: 0;
	padding: 0;
	/* Moet een standard waarde hebben anders werkt de thema functie niet */
	background-color: #323846;
	text-align: center;
	
}

/* Content styling alles centeren en custom properties */

main {
	background-color: var(--background-color);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
main > section {
	position: absolute;
}

/* styling van alle 12 de vuurwerk streepjes van vuurwerk nummer 1*/
main > section > section:nth-of-type(1) > article {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 4px;
	height: 80px;
	transform-origin: 50% 100%;
    overflow: hidden;
}

main > section > section:nth-of-type(1) > article::before {
	content: '';
	position: absolute;
	left: 0;
    right: 0;
    top: 100%;
	height: 40px;
    background-color: #f5cf52;
}

/* styling van alle 12 de vuurwerk streepjes van vuurwerk nummer 2*/
main > section > section:nth-of-type(2) > article {
	position: absolute;
	left: 0px;
	bottom: 0;
	width: 4px;
	height: 80px;
	transform-origin: 50% 100%;
    overflow: hidden;
}

main > section > section:nth-of-type(2) > article::before {
	content: '';
	position: absolute;
	left: 0;
    right: 0;
    top: 100%;
	height: 40px;
    background-color: red;
}
/* styling van alle 12 de vuurwerk streepjes van vuurwerk nummer 3*/
main > section > section:nth-of-type(3) > article {
	position: absolute;
	left: 25vw;
	bottom: 15vh;
	width: 4px;
	height: 80px;
	transform-origin: 50% 100%;
	overflow: hidden;
}

main > section > section:nth-of-type(3) > article::before {
	content: '';
	position: absolute;
	left: 0;
    right: 0;
    top: 100%;
	height: 40px;
    background-color: blue;
	
}
/* styling van alle 12 de vuurwerk streepjes van vuurwerk nummer 4*/
main > section > section:nth-of-type(4) > article {
	position: absolute;
	left: 25vw;
	bottom: 15vh;
	width: 4px;
	height: 80px;
	transform-origin: 50% 100%;
	overflow: hidden;
}

main > section > section:nth-of-type(4) > article::before {
	content: '';
	position: absolute;
	left: 0;
    right: 0;
    top: 100%;
	height: 40px;
    background-color: green;
}
main > section > section:nth-of-type(5) {
	position: absolute;
	left: -25vw;
	border-radius: 50%;
}
main > section > section:nth-of-type(5) > article:nth-child(even) {
	background-color: red;
	width: 20px;
	height: 25px;
	position: absolute;
	left: 0;
	border-radius: 50%;
	opacity:0;
}

main > section > section:nth-of-type(5) > article:nth-child(odd) {
	background-color:blue;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	border-radius: 50%;
	opacity: 0;
}

main > section > section:nth-of-type(5) > article:last-child {
	background-color: green;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	border-radius: 50%;
	opacity: 0;
}

/* styling van de vuurpijl van vuurwerk nummer 1*/
main > div:nth-of-type(1) {
	position: absolute;
	left: Calc(50vw - 4px);
    bottom: 0;
    background-color: red;
    width: 10px;
	height:10px;
	border-radius: 10px;
	opacity: 0;

}

main > div:nth-of-type(2) {
	position: absolute;
	background-color: blue;
	width: 10px;
	height:10px;
	border-radius: 10px; 
	bottom: 0;
	left: 60vw;
	opacity: 0;
}
main > div:nth-of-type(3) {
	position: absolute;
	background-color: blue;
	width: 10px;
	height:10px;
	border-radius: 10px; 
	bottom: 0;
	left: 25vw;
	opacity: 0;
}

/* animaties van de pijl en het vuurwerk */
@keyframes pijltje1 {
	0% {
		top: 100%;
	}
	33% {
		top: 50%;
		opacity: 1;
	}
	33.01% {
		opacity: 0;
	}
	100% {
		top: 50%;
		opacity: 0;
	}

}

@keyframes pijltje2 {
	0% {
		bottom: 0;
		left: 50vw;
		opacity:0;
	}
	5% {
		left: 55vw;
	}
	10% {
		left: 60vw;
	}
	15% {
		left: 65vw;
	}
	20% {
		left: 70vw;
	}
	25% {
		left: 80vw;
	}
	33% {
		left: 75vw;
		bottom: 60vh;
		opacity: 1;
	}
	33.01% {
		opacity: 0;
	}
	100% {
		bottom: 60vh;
		opacity: 0;
	}

}
@keyframes pijltje3 {

	0% {
		bottom: 0vh;
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		bottom: 45vh;
		opacity: 0;
	}
		
	

}

@keyframes explosion {
    0% {
        top: 100%
    }
    33%, 100% {
        top: -50%;
    }
}
/* elk streepje van het vuurwerk wordt hier 30 graden gedraaid zodat je een mooi rondje krijgt. */
section:not(:last-child) > article {
	transform: rotate(Calc(30deg*var(--index)))translateY(-15px);
}
/* custom properties voor gemakt */
section:not(:last-child) > article:nth-child(1) {
	--index: 0;
}

section:not(:last-child) > article:nth-child(2) {
	--index: 1;
}

section:not(:last-child) > article:nth-child(3) {
	--index: 2;
}

section:not(:last-child) > article:nth-child(4) {
	--index: 3;
}

section:not(:last-child) > article:nth-child(5) {
	--index: 4;
}

section:not(:last-child) > article:nth-child(6) {
	--index: 5;
}

section:not(:last-child) > article:nth-child(7) {
	--index: 6;
}

section:not(:last-child) > article:nth-child(8) {
	--index: 7;
}

section:not(:last-child) > article:nth-child(9) {
	--index: 8;
}

section:not(:last-child) > article:nth-child(10) {
	--index: 9;
}

section:not(:last-child) > article:nth-child(11) {
	--index: 10;
}

section:not(:last-child) > article:nth-child(12) {
	--index: 11;
}

section:last-child > article:nth-child(1) {
	--upDown: 10em;
  	--leftRight: 10em;
}
section:last-child > article:nth-child(2) {
	--upDown: -10em;
  	--leftRight: 10em;
}
section:last-child > article:nth-child(3) {
	--upDown: 10em;
  	--leftRight: -10em;
}
section:last-child > article:nth-child(4) {
	--upDown: -10em;
	  --leftRight: 0em;
}
section:last-child > article:nth-child(5) {
	--upDown: 0em;
  	--leftRight: 20em;
}
section:last-child > article:nth-child(6) {
	--upDown: 0em;
  	--leftRight: 10em;
}
section:last-child > article:nth-child(7) {
	--upDown: 10em;
  	--leftRight: 15em;
}
section:last-child > article:nth-child(8) {
	--upDown: 0em;
  	--leftRight: -10em;
}
section:last-child > article:nth-child(9) {
	--upDown: 15em;
  	--leftRight: 15em;
}
section:last-child > article:nth-child(10) {
	--upDown: 5em;
	  --leftRight: 15em;
}

@keyframes vuurwerk3 {
	0% {
		opacity: 1;
	  transform: translate(0em, 0em) scale(1);
	}
	100% {
	  transform: translate(var(--leftRight), var(--upDown));
	  opacity: 0;
	}
  
  }
/* atoombom explosie */

main > section > div:nth-of-type(2) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	background: rgba(153,50,204,1);
	border-radius: 50%;
	opacity: 0;
	box-shadow: 0 0 20px rgba(153,50,204,1),
				0 0 40px rgba(153,50,204,1),
				0 0 60px rgba(153,50,204,1),
				0 0 80px rgba(153,50,204,1);
	
}
/* atoombom */
main > section > div:nth-of-type(3) {
	clip-path: polygon(0% 43%, 4% 36%, 9% 32%, 15% 31%, 27% 31%, 39% 31%, 50% 31%, 57% 31%, 65% 40%, 68% 40%, 73% 29%, 100% 27%, 100% 40%, 93% 53%, 100% 67%, 100% 77%, 72% 78%, 68% 67%, 65% 67%, 57% 76%, 13% 76%, 7% 74%, 3% 70%, 0% 66%);
	width: 40px;
	height: 40px;
	position: absolute;
	top: -60vh;
	left: Calc(50% - 20px);
	background-color: red;
	transform: rotate(270deg);
}


@keyframes vallenBom {
	0% {
		top: -55vh
	}
	99% {
		opacity:1;
	}
	100% {
		top: -5vh;
		opacity: 0;
	}
}

@keyframes handle {
	0% {
		bottom: -0.1vh;
	}
	100% {
		bottom: -2vh;
	}
}

@keyframes implosie{
	0% {
		opacity: 1;
		box-shadow: 0 0 20px rgba(153,50,204,1),
					0 0 40px rgba(0,0,255,1),
					0 0 60px rgba(153,50,204,1),
					0 0 80px rgba(0,0,255,1);
	}
	25% {
		box-shadow: 0 0 0 30px rgba(153,50,204,.1),
					0 0 0 60px rgba(0,0,255,.1),
					0 0 0 120px rgba(153,50,204,.1),
					0 0 0 240px rgba(0,0,255,.1),
					0 0 0 480px rgba(153,50,204,.1),
					0 0 0 960px rgba(0,0,255,.1);
		}
	50% {
		opacity: 0;
		box-shadow: 0 0 20px rgba(153,50,204,1),
					0 0 40px rgba(0,0,255,1),
					0 0 60px rgba(153,50,204,1),
					0 0 80px rgba(0,0,255,1);
	}
	75% {
		box-shadow: 0 0 0 30px rgba(153,50,204,1),
					0 0 0 60px rgba(0,0,255,1),
					0 0 0 120px rgba(153,50,204,1),
					0 0 0 240px rgba(0,0,255,1),
					0 0 0 480px rgba(153,50,204,1),
					0 0 0 960px rgba(0,0,255,1);
		}

	81% {
			box-shadow: 0 0 0 30px rgba(0,0,255,1),
						0 0 0 60px rgba(153,50,204,1),
						0 0 0 120px rgba(0,0,255,1),
						0 0 0 240px rgba(153,50,204,1),
						0 0 0 480px rgba(0,0,255,1),
						0 0 0 960px rgba(153,50,204,1);
			}
	82% {
			box-shadow: 0 0 0 30px rgba(153,50,204,1),
						0 0 0 60px rgba(0,0,255,1),
						0 0 0 120px rgba(153,50,204,1),
						0 0 0 240px rgba(0,0,255,1),
						0 0 0 480px rgba(153,50,204,1),
						0 0 0 960px rgba(0,0,255,1);
			}	

	83% {
			box-shadow: 0 0 0 30px rgba(0,0,255,1),
						0 0 0 60px rgba(153,50,204,1),
						0 0 0 120px rgba(0,0,255,1),
						0 0 0 240px rgba(153,50,204,1),
						0 0 0 480px rgba(0,0,255,1),
						0 0 0 960px rgba(153,50,204,1);
			}
	84% {
			box-shadow: 0 0 0 30px rgba(153,50,204,1),
						0 0 0 60px rgba(0,0,255,1),
						0 0 0 120px rgba(153,50,204,1),
						0 0 0 240px rgba(0,0,255,1),
						0 0 0 480px rgba(153,50,204,1),
						0 0 0 960px rgba(0,0,255,1);
			}	
	85% {
			box-shadow: 0 0 0 30px rgba(0,0,255,1),
						0 0 0 60px rgba(153,50,204,1),
						0 0 0 120px rgba(0,0,255,1),
						0 0 0 240px rgba(153,50,204,1),
						0 0 0 480px rgba(0,0,255,1),
						0 0 0 960px rgba(153,50,204,1);
			}
	86% {
			box-shadow: 0 0 0 30px rgba(153,50,204,1),
						0 0 0 60px rgba(0,0,255,1),
						0 0 0 120px rgba(153,50,204,1),
						0 0 0 240px rgba(0,0,255,1),
						0 0 0 480px rgba(153,50,204,1),
						0 0 0 960px rgba(0,0,255,1);
			}	
	87% {
			box-shadow: 0 0 0 30px rgba(0,0,255,1),
						0 0 0 60px rgba(153,50,204,1),
						0 0 0 120px rgba(0,0,255,1),
						0 0 0 240px rgba(153,50,204,1),
						0 0 0 480px rgba(0,0,255,1),
						0 0 0 960px rgba(153,50,204,1);
			}
	88% {
			box-shadow: 0 0 0 30px rgba(153,50,204,1),
						0 0 0 60px rgba(0,0,255,1),
						0 0 0 120px rgba(153,50,204,1),
						0 0 0 240px rgba(0,0,255,1),
						0 0 0 480px rgba(153,50,204,1),
						0 0 0 960px rgba(0,0,255,1);
			}	
	89% {
			box-shadow: 0 0 0 30px rgba(153,50,204,1),
						0 0 0 60px rgba(0,0,255,1),
						0 0 0 120px rgba(153,50,204,1),
						0 0 0 240px rgba(0,0,255,1),
						0 0 0 480px rgba(153,50,204,1),
						0 0 0 960px rgba(0,0,255,1);
			}
	90% {
			box-shadow: 0 0 0 30px rgba(0,0,255,1),
						0 0 0 60px rgba(153,50,204,1),
						0 0 0 120px rgba(0,0,255,1),
						0 0 0 240px rgba(153,50,204,1),
						0 0 0 480px rgba(0,0,255,1),
						0 0 0 960px rgba(153,50,204,1);
			}
	91% {
			box-shadow: 0 0 0 30px rgba(153,50,204,1),
						0 0 0 60px rgba(0,0,255,1),
						0 0 0 120px rgba(153,50,204,1),
						0 0 0 240px rgba(0,0,255,1),
						0 0 0 480px rgba(153,50,204,1),
						0 0 0 960px rgba(0,0,255,1);
			}
	92% {
			box-shadow: 0 0 0 30px rgba(0,0,255,1),
						0 0 0 60px rgba(153,50,204,1),
						0 0 0 120px rgba(0,0,255,1),
						0 0 0 240px rgba(153,50,204,1),
						0 0 0 480px rgba(0,0,255,1),
						0 0 0 960px rgba(153,50,204,1);
			}
	93% {
			box-shadow: 0 0 0 30px rgba(153,50,204,1),
						0 0 0 60px rgba(0,0,255,1),
						0 0 0 120px rgba(153,50,204,1),
						0 0 0 240px rgba(0,0,255,1),
						0 0 0 480px rgba(153,50,204,1),
						0 0 0 960px rgba(0,0,255,1);
			}
	94% {
			box-shadow: 0 0 0 30px rgba(0,0,255,1),
						0 0 0 60px rgba(153,50,204,1),
						0 0 0 120px rgba(0,0,255,1),
						0 0 0 240px rgba(153,50,204,1),
						0 0 0 480px rgba(0,0,255,1),
						0 0 0 960px rgba(153,50,204,1);
			}
	95% {
			box-shadow: 0 0 0 30px rgba(153,50,204,1),
						0 0 0 60px rgba(0,0,255,1),
						0 0 0 120px rgba(153,50,204,1),
						0 0 0 240px rgba(0,0,255,1),
						0 0 0 480px rgba(153,50,204,1),
						0 0 0 960px rgba(0,0,255,1);
			}
	96% {
			box-shadow: 0 0 0 30px rgba(0,0,255,1),
						0 0 0 60px rgba(153,50,204,1),
						0 0 0 120px rgba(0,0,255,1),
						0 0 0 240px rgba(153,50,204,1),
						0 0 0 480px rgba(0,0,255,1),
						0 0 0 960px rgba(153,50,204,1);
			}
	97% {
			box-shadow: 0 0 0 30px rgba(153,50,204,1),
						0 0 0 60px rgba(0,0,255,1),
						0 0 0 120px rgba(153,50,204,1),
						0 0 0 240px rgba(0,0,255,1),
						0 0 0 480px rgba(153,50,204,1),
						0 0 0 960px rgba(0,0,255,1);
			}	
	98% {
			box-shadow: 0 0 0 30px rgba(0,0,255,1),
						0 0 0 60px rgba(153,50,204,1),
						0 0 0 120px rgba(0,0,255,1),
						0 0 0 240px rgba(153,50,204,1),
						0 0 0 480px rgba(0,0,255,1),
						0 0 0 960px rgba(153,50,204,1);
			}
	99% {
			box-shadow: 0 0 0 30px rgba(153,50,204,1),
						0 0 0 60px rgba(0,0,255,1),
						0 0 0 120px rgba(153,50,204,1),
						0 0 0 240px rgba(0,0,255,1),
						0 0 0 480px rgba(153,50,204,1),
						0 0 0 960px rgba(0,0,255,1);
			}	
			
	100% {
			opacity: 1;
			box-shadow: 0 0 0 30px rgba(153,50,204,1),
						0 0 0 60px rgba(153,50,204,1),
						0 0 0 120px rgba(153,50,204,1),
						0 0 0 240px rgba(153,50,204,1),
						0 0 0 480px rgba(153,50,204,1),
						0 0 0 960px rgba(153,50,204,1);
			}
}

/* @keyframes shake {
	0% { 
		transform: translate(1px, 1px) rotate(0deg); 
	}
	10% { 
		transform: translate(-1px, -2px) rotate(-1deg); 
	}
	20% { 
		transform: translate(-3px, 0px) rotate(1deg);
	 }
	30% { 
		transform: translate(3px, 2px) rotate(0deg); 
	}
	40% { 
		transform: translate(1px, -1px) rotate(1deg); 
	}
	50% { 
		transform: translate(-1px, 2px) rotate(-1deg); 
	}
	60% { 
		transform: translate(-3px, 1px) rotate(0deg); 
	}
	70% { 
		transform: translate(3px, 1px) rotate(-1deg); 
	}
	80% { 
		transform: translate(-1px, -1px) rotate(1deg); 
	}
	90% { 
		transform: translate(1px, 2px) rotate(0deg); }
	100% { 
		transform: translate(1px, -2px) rotate(-1deg); 
	}
  } */

@keyframes laterAarde {
	0% {
		left: 5vw;
		top: 0;
	}
	99% {
		opacity: 1;
	}
	100% {
		left: 48vw;
		top: 37vh;
		opacity: 0;
	}
}
@keyframes openKlappen {
	0% {

	}
	100% {
		transform: rotate(45deg);
		bottom: 3.9vh;
	}
}

@keyframes buttonIndrukken {
	0% {

	}
	100% {
		bottom: -1vh;
	}
}


main > section > section:nth-of-type(1) {
	left: 50%;
	top: 50%;
	transform: scale(1);
}

main > section > section:nth-of-type(2) {
	left: 10vw;
	top: 50vh;
	transform: rotate(15deg);
}

main > section > section:nth-of-type(3) {
	left: 10vw;
	top: 50vh;
	transform: skew(15deg, 15deg);
}

main > section > section:nth-of-type(4) {
	left: 10vw;
	top: 50vh;
}
/* wanneer de checkbox aangevinkt worden gebeuren de volgende animaties: */
input[type="checkbox"]:nth-of-type(2):checked ~ main > section > div:nth-of-type(2) {
	animation: implosie 4s forwards;
	animation-delay: 9s;
  }
input[type="checkbox"]:nth-of-type(2):checked ~ main > section > div:nth-of-type(3) {
	animation: vallenBom 4s cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;
	animation-delay: 5s;
  }
input[type="checkbox"]:nth-of-type(2):checked ~ main {
	animation: shake 1s infinite;
	animation-delay: 9s;
  }
input[type="checkbox"]:nth-of-type(2):checked ~ main p {
	animation: laterAarde 1s forwards;
	animation-delay: 10s;
  }
input[type="checkbox"]:nth-of-type(1):checked ~ main > section > section:nth-of-type(1) > article::before {
	animation: explosion 3s ease-in-out 3 forwards;
	animation-delay: 1s;
  }
input[type="checkbox"]:nth-of-type(1):checked ~ main > section > section:nth-of-type(2) > article::before {
	animation: explosion 3s ease-in-out 3 forwards;
	animation-delay: 1s;
  }

input[type="checkbox"]:nth-of-type(1):checked ~ main > section > section:nth-of-type(3) > article::before {
	animation: explosion 3s ease-in-out 3;
	animation-delay: 1s;
  }

input[type="checkbox"]:nth-of-type(1):checked ~ main > section > section:nth-of-type(4) > article::before {
	animation: explosion 3s ease-in-out 3;
	animation-delay: 1s;
  }
input[type="checkbox"]:nth-of-type(1):checked ~ main > div:nth-of-type(1) {
	animation: pijltje1 3s cubic-bezier(0.165, 0.840, 0.960, 1.335) 3 forwards;
	opacity: 1;
  }
input[type="checkbox"]:nth-of-type(1):checked ~ main > div:nth-of-type(2) {
	animation: pijltje2 3s cubic-bezier(0.165, 0.840, 0.960, 1.335) 3 forwards;
	opacity: 1;
  }
input[type="checkbox"]:nth-of-type(1):checked ~ main > div:nth-of-type(3) {
	animation: pijltje3 1s cubic-bezier(0.100, 0.580, 1.000, 1.650) 3 forwards;
	animation-delay: 2s;
  }
input[type="checkbox"]:nth-of-type(1):checked ~ main > section > section:nth-of-type(5) > article:nth-child(even) {
	animation: vuurwerk3 1s 3 forwards;
	animation-delay: 3s;
	opacity: 0;
}
input[type="checkbox"]:nth-of-type(1):checked ~ main > section > section:nth-of-type(5) > article:nth-child(odd) {
	animation: vuurwerk3 1s 3 forwards;
	animation-delay: 3s;
	opacity: 0;
}
input[type="checkbox"]:nth-of-type(1):checked ~ div:first-of-type div {
	animation: handle 0.5s forwards;
}
input[type="checkbox"]:nth-of-type(2):checked ~ div:nth-of-type(2) div:first-of-type {
	animation: buttonIndrukken 2s forwards;
	animation-delay: 3s;
}
input[type="checkbox"]:nth-of-type(2):checked ~ div:nth-of-type(2) div:nth-of-type(2) {
	animation: openKlappen 3s forwards;
}



/* light and dark mode */

main > p {
	font-size: 4em;
	margin-top: 1em;
	position: absolute;
	top: 0;
	left: 5vw;
	opacity: 1;
	transform: opacity 2s;
  }
  
  main > p:first-of-type {
	visibility: var(--visibility);
  }

input[type="checkbox"]:nth-of-type(1) {
	cursor: pointer;
	color: white;
	position: absolute;
	bottom: 2vh;
	left: 60%;
	display: none;
  } 

/* detonator voor het vuurwerk */

body div:nth-of-type(1) label {
	cursor: pointer;
	color: white;
	position: absolute;
	bottom: 0vh;
	left: 60%;
	background-color: red;
	width: 100px;
	height: 100px;
	clip-path: polygon(89% 93%, 89% 84%, 79% 84%, 79% 48%, 88% 48%, 89% 39%, 10% 39%, 10% 46%, 21% 48%, 21% 83%, 10% 84%, 10% 92%);
  }
body div:first-of-type div {
	background-color:grey;
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: -0.1vh;
	left: 60%;
	clip-path: polygon(52% 38%, 52% 20%, 74% 20%, 74% 11%, 26% 12%, 26% 19%, 48% 20%, 48% 38%);
  }

/* detonator voor de atoombom */
input[type="checkbox"]:nth-of-type(2) {
	cursor: pointer;
	color: white;
	position: absolute;
	bottom: 2vh;
	left: 40%;
	display: none;
  } 

  body div:nth-of-type(2) label {
	cursor: pointer;
	color: white;
	position: absolute;
	bottom: 0vh;
	left: 40%;
	background-color: red;
	width: 100px;
	height: 100px;
	clip-path: polygon(89% 93%, 89% 84%, 79% 84%, 79% 48%, 88% 48%, 89% 39%, 10% 39%, 10% 46%, 21% 48%, 21% 83%, 10% 84%, 10% 92%);
  }

  body div:nth-of-type(2) div:first-of-type {
	background-color:grey;
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 1vh;
	left: 40%;
	clip-path: circle(23.0% at 50% 50%);
  }

  body div:nth-of-type(2) div:nth-of-type(2) {
	background-color: black;
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: -0.1vh;
	left: 40%;
	opacity: 0.5;
	clip-path: polygon(89% 38%, 10% 38%, 10% 0%, 89% 0%);
  }

input[type="checkbox"]:nth-of-type(1):checked ~ main {
	background-color: #323846;
	transition: background-color 1s;
  }

p:last-of-type,
input[type="checkbox"]:nth-of-type(1):checked ~ main p:first-of-type {
  visibility: var(--visibility);
}

input[type="checkbox"]:nth-of-type(1):checked ~ main p:last-of-type {
  visibility: visible;
}


@media (prefers-color-scheme: light) {
	main {
	  --background-color: #c8cac9;
	}
  
	p:first-of-type {
	  --visibility: visible;
	}
  
	p:last-of-type {
	  --visibility: hidden;
	}
  }
  
  @media (prefers-color-scheme: dark) {
	main {
	  --background-color: #323846;
	}
  
	p:first-of-type {
	  --visibility: hidden;
	}
  
	p:last-of-type {
	  --visibility: visible;
	}
  }
  
  input[type="checkbox"]:nth-of-type(1):checked ~ main p:first-of-type {
	visibility: hidden;
  }